.loco {
    background-color:rgb(218, 250, 215);
    margin: 5px;
}

.verde {
    color: rgb(245, 174, 21);
    margin: 5px;
}

.final {
    color: rgb(173, 172, 168);
    margin: 5px;
}

.azul {
    color: rgb(29, 38, 168);
    margin: 5px;
}

.amarillo {
    background-color:rgb(236, 234, 133);
    margin: 5px;
    }

.tu {
    background-color:rgb(236, 133, 222);
    margin: 5px;
        }  

.pur {
    color: rgb(82, 44, 88);
    margin: 5px;
        }

.caf {
    background-color:rgb(150, 128, 70);
    margin: 5px;
            }      
        
.tx {
    color: rgb(241, 96, 12);
    margin: 5px;
        }  

.bln{
    color: rgb(123, 241, 12);
    margin: 5px;  
}

.fond {
    background-color: aliceblue;
    margin: 5px;
}

.tres {
    background-color: plum;
}

.ft {
    background-color: lawngreen;
}

.ocho {
    margin: 5px;
}

.yu {
    background-color: olivedrab;
}

.try {
    margin: 5px;
}

.pip {
    margin: 5px;
    color: blue;
}

.sez {
    margin: 5px;
    background-color: yellow;
}

.lop {
    margin: 5px;
}

.tam {
    width: 30%;
    margin: 5px;
}

.ti {
    margin: 5px;
    color: turquoise;
}

.cal {
    background-color: violet;
}

.goy {
    width: 30%;
}

.tt {
    background-color: greenyellow;
}

.ti {
    color: mediumspringgreen;
}

.ta {
    color: rgb(22, 133, 96);
    margin: 5px;
}